{
    "extends": "airbnb",
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "comma-dangle": 0,
        "indent": [2, 4, {"SwitchCase": 1}],
        "max-len": 0,

        "react/prop-types": [2, { "ignore": ["children"] }],
        "react/jsx-indent-props": [2, 4]
    },
    "globals": {
        "componentHandler": true
    }
}
