.sidebar-components {
    display: inline-block;
    background: #fff;
    width: 200px;
    box-sizing: border-box;
    padding: 24px 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    z-index: 1;
}

.markdown {
    padding: 8px;
    margin: 8px;
}
